@model Lesson6.ViewModels.ShoppingCartViewModel



<p>@Html.DisplayNameFor(model=>model.CartItems)</p>
<p>@Html.DisplayFor(model=>model.CartItems.Count)</p>
        
@foreach(var item in Model.CartItems)
{
    
    <p>@item.Product.Price</p>
    <p>@item.Count</p>

    <p>
        <a asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Delete</a>
    </p>
}

<a asp-controller="ShoppingCart" asp-action="CheckOut">Pay</a>






    