@model IEnumerable<Lesson6.ViewModels.ProductViewModel>
@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["About"];
}


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index">

    <p>
        Product name:
        <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>


</form>

<table class="table">
    
        <thead>
           
                <tr>
                    <th>
                        @Html.DisplayNameFor(model =>model.Price) 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                       @Html.DisplayNameFor(model=>model.ProductCategory.ProductCategoryName)
                    </th>
                </tr>
           
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.ProductCategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> |
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ProductId" asp-route-returnUrl="@Context.Request.Path">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
